@using Elearning.Models
@model Instructor
@{
    Instructor instructor = new Instructor();
    ViewData["text"] = ViewBag.Message;
    instructor = ViewBag.SQLData;
}

<div class="flex-column">
    <div class="align-content-center">
        <form method="post" asp-action="UpdateInstructor" asp-controller="Instructor">
            <div class="card">
                <div class="card-header">
                    <h4>Update Instructor</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="Name" class="form-control" style="height: 40px;" value="@instructor.Name" />
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Course_Id" class="form-label">Course:</label>
                        <select asp-for="Course_Id" asp-items="@ViewBag.CourseList" class="form-control">
                            <option value="">Select a course</option>
                        </select>
                    </div>
                    @* <div class="form-group">
                        <label for="courseId">Course_Id</label>
                        <input type="text" id="courseId" name="Course_Id" class="form-control" style="height: 40px;" value="@instructor.Course_Id" />
                    </div> *@
                    <br />
                </div>
                <input type="hidden" name="Instructor_Id" value="@instructor.Instructor_Id"/>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Update Instructor</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<p id="alert">
    @ViewBag.Message
</p>

<script>
    // Hide alert after 3 seconds
    setTimeout(function () {
        document.getElementById("alert").style.display = "none";
    }, 3000);
</script>
