@model Elearning.Models.Course;
@{
	Course courseSQLData = ViewBag.SQLData;
	ViewData["Title"] = "Courses";
}
<h1>@ViewData["Title"]</h1>

<script>
    setTimeout(function () {
        document.getElementById("alert").style.display = "none";
    }, 3000);
</script>

<br />
@if (ViewBag.Message != null)
{
    <div class="alert alert-info" id="alert" role="alert">
        @ViewBag.Message
    </div>
}

<a class="btn btn-primary" asp-action="AddCourse">Add Course</a>

  <section class="intro">
      <div class="gradient-custom h-100">
          <div class="mask d-flex align-items-center h-100">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-12">
                          <div id="datatable">
                              <table id="datatable" class="table">
                                  <thead>
                                      <tr>
                                          <th>S.N.</th>
                                          <th>Course Title</th>
                                          <th>Description</th>
                                          <th>actions</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      @if (courseSQLData.Courses.Count > 0 && courseSQLData.Courses != null)
                                      {
                                          Console.WriteLine(courseSQLData.Courses.Where(c => c.Is_Deleted == 0).Count());
                                          for (var i = 0; i < @courseSQLData.Courses.Count; i++)
                                          {
                                              if (@courseSQLData.Courses[i].Is_Deleted == 0)
                                              {
                                                  <tr>
                                                      <th scope="row">@courseSQLData.Courses[i].Course_Id</th>
                                                      <td colspan="1">@courseSQLData.Courses[i].Title</td>
                                                      <td colspan="1">@courseSQLData.Courses[i].Description</td>

                                                      <td>
                                                        <div class="btn-group gap-2">
                                                            <form asp-action="UpdateCourse" asp-controller="Course" method="get">
                                                                <input type="hidden" name="courseId" value="@courseSQLData.Courses[i].Course_Id" />
                                                                <input type="submit" value="Update" class="btn btn-primary" />
                                                            </form>

                                                            <form asp-action="CourseDetails" method="get">
                                                                <input type="hidden" name="courseId" value="@courseSQLData.Courses[i].Course_Id" />
                                                                <button type="submit" class="btn btn-info" style="color:white">Details</button>
                                                            </form>

                                                            <form asp-action="DeleteCourse" method="get">
                                                                <input type="hidden" name="courseId" value="@courseSQLData.Courses[i].Course_Id" />
                                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                            </form>
                                                        </div>
                                                      </td>

                                                  </tr>
                                              }
                                          }
                                      }
                                      else
                                      {
                                        <template> No Courses Found...</template>
                                      }
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
 