@model Elearning.Models.Course;
@{
	Course courseSQLData = ViewBag.SQLData;
	ViewData["Title"] = "Courses";
}
<h1>@ViewData["Title"]</h1>

<script>
    setTimeout(function () {
        document.getElementById("alert").style.display = "none";
    }, 3000);
</script>

@*   <div class="row">
      <div class="col-md">
          <h3>Course Details</h3>
      </div>
      <div class="col-md-3">
          <a class="btn btn-primary" href="AddCourse">Add Course</a>

      </div>
  </div> *@
<br />
@if (ViewBag.Message != null)
{
    <div class="alert alert-info" id="alert" role="alert">
        @ViewBag.Message
    </div>
}

<a class="btn btn-primary" asp-action="AddCourse">Add Course</a>

  <section class="intro">
      <div class="gradient-custom h-100">
          <div class="mask d-flex align-items-center h-100">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-12">
                          <div id="datatable">
                              <table id="datatable" class="table">
                                  <thead>
                                      <tr>
                                          <th>S.N.</th>
                                          <th>Course Title</th>
                                          <th>Description</th>
                                          <th>actions</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      @if (courseSQLData.Courses.Count > 0 && courseSQLData.Courses != null)
                                      {
                                          Console.WriteLine(courseSQLData.Courses.Where(c => c.Is_Deleted == 0).Count());
                                          for (var i = 0; i < @courseSQLData.Courses.Count; i++)
                                          {
                                              if (@courseSQLData.Courses[i].Is_Deleted == 0)
                                              {
                                                  <tr>
                                                      <th scope="row">@courseSQLData.Courses[i].Course_Id</th>
                                                      <td colspan="1">@courseSQLData.Courses[i].Title</td>
                                                      <td colspan="1">@courseSQLData.Courses[i].Description</td>

                                                      <td>
                                                          <div class="btn-group">

                                                               <a class="btn btn-primary" asp-action="UpdateCourse" asp-route-id="@courseSQLData.Courses[i].Course_Id">edit</a>
                                                            @* <form asp-action="UpdateCourse" asp-route-id="@courseSQLData.Courses[i].Id" method="post">
                                                                <button type="submit" class="btn btn-info">Edit</button>
                                                            </form> *@

                                                              <div class="mx-2"></div>
                                                            <a class="btn btn-danger" asp-action="DeleteCourse" asp-route-id="@courseSQLData.Courses[i].Course_Id">Delete</a>

                                                            @* <form asp-action="DeleteCourse" asp-route-id="@courseSQLData.Courses[i].Course_Id" method="post" onsubmit="return confirm('Are you sure you want to delete this course?');">
                                                                   <button type="submit" class="btn btn-danger">Delete</button>
                                                               </form> *@
                                                          </div>
                                                      </td>

                                                  </tr>
                                              }
                                          }
                                      }
                                      else
                                      {
                                        <template> No Courses Found...</template>
                                      }
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
 