@model Elearning.Models.Enrolment;

@{
    ViewData["Title"] = "EnrolmentView";
    Enrolment enrolment = ViewBag.SQLData;
}

<h1>Enrolments</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<script>
    // Hide alert after 3 seconds
    setTimeout(function () {
        document.getElementById("error-alert").style.display = "none";
    }, 1500);
    setTimeout(function () {
        document.getElementById("success-alert").style.display = "none";
    }, 1500);
</script>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" id="error-alert" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
else if (TempData["Message"] != null)
{
    <div class="alert alert-info" id="success-alert" role="alert">
        @TempData["Message"]
    </div>
}


@* <div class="container mt-4">
    <h2>Fill the Enrolment Details Below</h2>
    <form asp-action="AddEnrolment" asp-asp-controller="Enrolment" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-6">
            <label asp-for="Student_Id" class="control-label">Student</label>
            <select asp-for="Student_Id" asp-items="@ViewBag.Students" class="form-control">
                <option value="">Select a student</option>
            </select>
        </div>
        <br />
        <div class="form-group col-md-6">
            <label asp-for="Course_Id" class="control-label">Course</label>
            <select asp-for="Course_Id" asp-items="@ViewBag.Courses" class="form-control">
                <option value="">Select a course</option>
            </select>
        </div>
        <br />
        <div class="form-group col-md-6">
            <label asp-for="EnrolledOnDate" class="control-label">Enrolment Date</label>
            <input asp-for="EnrolledOnDate" type="date" nameclass="form-control" />
            <span asp-validation-for="EnrolledOnDate" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary" />
            <input type="reset" value="Cancel" class="btn btn-secondary" />
        </div>

        <br />
    </form>
</div> *@


<a class="btn btn-primary" asp-action="AddEnrolment">Add Enrolment</a><br />

@if (enrolment.Enrolments.Count > 0)
{
    <br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Student Id</th>
                <th>Course Id</th>
                <th>Student</th>
                <th>Course</th>
                <th>Enrolment Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @* @foreach (Enrollment l in enrolment.Enrolments.Where(l => l.Is_Deleted == 0)) *@
            @foreach (Enrolment e in enrolment.Enrolments.Where(en => en.Is_Deleted == 0))
            {
                <tr>
                    <td>@e.Student_Id</td>
                    <td>@e.Course_Id</td>
                    <td>@e.Student_Name</td>
                    <td>@e.Course_Title</td>
                    <td>@e.EnrolledOnDate</td>
                    <td>
                        @* <a class="btn btn-primary" asp-action="UpdateEnrolment" asp-route-id="@e.Enrollment_Id">Update</a> *@
                        @* <form asp-action="UpdateEnrolment" asp-controller="Enrolment" method="get">
                            <input type="hidden" name="Student_Id" value="@e.Student_Id" />
                            <input type="hidden" name="Course_Id" value="@e.Course_Id" />
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </form> *@
                        <form asp-action="DeleteEnrolment" method="post" onsubmit="return confirm('Are you sure you want to delete this course?');">
                            <input type="hidden" name="studentId" value="@e.Student_Id" />
                            <input type="hidden" name="courseId" value="@e.Course_Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No Enrolments yet...</h3>
}