@model Elearning.Models.Student

@{
    ViewData["Title"] = "UpdateStudent";
    Student studentData = ViewBag.studentData;
}

<h1>Update Student Details</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateStudent" asp-controller="Student" method="post">
            <div class="form-group">
                <label asp-for="Student_Name" class="control-label"></label>
                <input asp-for="Student_Name" class="form-control" value="@studentData.Students[0].Student_Name" />
                <span asp-validation-for="Student_Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" value="@studentData.Students[0].Contact" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group col-md-6">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" type="date" name="DOB" nameclass="form-control" value="@studentData.Students[0].DOB.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" value="@studentData.Students[0].Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" value="@studentData.Students[0].Country" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <br />
            <input type="hidden" name="Student_Id" value="@studentData.Students[0].Student_Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
